/*este es el documento halloween de estilos
 */
@font-face {
    font-family: Swamp Witch;
    src: url("../fuentes/Swamp Witch.ttf")
}
body{
    background-color: black;
}
#wrapper{
    background-image: url("../imagenes/halloween.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1200px;
    height: 700px;
    border-radius: 100px ;
    margin-top: 20px;
    margin-left: 65px;
}
#titulo{
    font-size: 400% ;
    position: absolute;
    top: 10px;
    left: 105px;
    font-family: Swamp Witch;
}
#p1{
    font-size: 200%;
    position: absolute;
    top: 50px;
    left: 870px;
    font-family: Swamp Witch;
}
#puerta {
    border: 1px solid white;
    width: 70px;
    height: 75px;
    position: absolute;
    top: 450px;
    left: 565px;
}
#bat {
    /*border: 1px solid white;*/
    width: 40px;
    height: 55px;
    position: absolute;
    top: 330px;
    left: 1040px;
}
#zombie{                
    position: absolute;
    top: 480px;
    left: 565px;
    visibility: hidden;
}